@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Presentation.IdentityData.ChangePassword
<form asp-action="ChangePassword" asp-controller="User">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div>
        <label asp-for="OldPassword">@Localizer["OldPassword"]</label>
        <input type="text" asp-for="OldPassword" required/>
    </div>
    <div>
        <label asp-for="NewPassword">@Localizer["NewPassword"]</label>
        <input type="text" asp-for="NewPassword" required/>
    </div>
    <div>
        <input class="btn btn-dark" type="submit" value="@Localizer["Save"]" />
    </div>
</form>